<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href="/static/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu%20Mono">
	<title>Login</title>
</head>
<body>
	<div class="login-container">
		<div><a id="login-home" href="home">Home</a></div>
		<div><a href="about">About</a></div>
		<div><a href="register">Register</a></div>
	</div>

	<div class="login-bar">
		<h1>Log In:</h1>
		{% if error: %}
			<div class="error">
				Incorrect username or password
			</div>
		{% endif %}
		<div class="input">
			<form method="POST">
				<input type="text" name="user" maxlength="20" placeholder="Username" required><br>
				<div class="password"><input type="password" name="pass" maxlength="20" placeholder="Password" required></div>
				<p class="need-account">Need An Account? <a id="sign-up" href="register">Sign Up</a></p>
				<input id="submit" type="submit" Value="Log In">
			</form>
		</div>
	</div>
</body>
</html>
